@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:wght@500&family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Default light theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --nav-background: #ffffff;
    --nav-text-color: #000000;
}

/* Dark theme */
[data-theme='dark'] {
    --background-color: #1e1e1e;
    --text-color: #f0f0f0;
    --nav-background: #2e2e2e;
    --nav-text-color: #f0f0f0;
}

body {
    font-family: 'poppins',sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

}

.navbar {
    background-color: var(--nav-background);
    color: var(--nav-text-color);
}

body[data-theme='dark'] {
    background-color: #1a202c; /* Dark background */
    color: #e2e8f0; /* Light text */
}

body[data-theme='light'] {
    background-color: #ffffff; /* Light background */
    color: #1a202c; /* Dark text */
}

